@model List<Appointment.ViewModels.SpesialisScheduleViewModel>

<style>
    .custom-radio-btn {
        position: relative;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        padding: 8px 20px;
        cursor: pointer;
    }

        .custom-radio-btn.active {
            background-color: #007bff;
            color: #fff;
        }

        /* Hiding the default radio buttons */
        .custom-radio-btn input[type="radio"] {
            position: absolute;
            opacity: 0;
        }

</style>

<input type="hidden" value="@ViewBag.IdSpesialis" />
<div class="card">
    <div class="col-lg-12">
        <div class="card-body">
            <div class="card-container d-flex flex-row flex-wrap">
                @foreach (var data in Model)
                {
                    <div class="card col-md-6 mb-3 p-1">
                        <h5 class="card-header bg-info text-white">@data.SpesialisName</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="card-text">@data.Name</label>&nbsp;&nbsp;&nbsp;<a asp-controller="Appointment" asp-action="Create" asp-route-userId="@data.UserId">Buat Janji</a>
                                    
                                    <div class="row">
                                        @foreach (var operationGroup in ViewBag.TimeGroupedByUserId)
                                        {
                                            var userId = operationGroup.Key;
                                            if (data.UserId == userId)
                                            {
                                                foreach (var operation in operationGroup)
                                                {
                                                    <div class="col-md-6">
                                                        <div class="btn" data-toggle="buttons">
                                                            <label class="btn btn-secondary custom-radio-btn">
                                                                <input type="radio" name="options" id="option1" autocomplete="off">
                                                                @operation.ScheduleDay | @operation.StartDate - @operation.EndDate
                                                            </label>
                                                        </div>
                                                    </div>
                                                }
                                            }                                            
                                        }                                       
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<a asp-controller="Home" class="btn btn-primary" asp-action="Index">Home</a>